<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="MusicHub"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MSMA"
        android:usesCleartextTraffic="true"
        tools:ignore="ObsoleteSdkInt"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="MusicHub"
            android:theme="@style/Theme.MSMA"
            tools:ignore="RedundantLabel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.screen.notification.NotificationActivity"
            android:exported="false"
            android:label="@string/title_activity_notification"
            android:theme="@style/Theme.MSMA" />
        <activity
            android:name=".ui.screen.settings.profile.edit.EditAccountInfoActivity"
            android:exported="false"
            android:label="@string/title_activity_notification"
            android:theme="@style/Theme.MSMA" />
        <activity
            android:name=".ui.screen.settings.profile.view.ViewProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_view_profile"
            android:theme="@style/Theme.MSMA" />
        <activity
            android:name=".ui.screen.settings.profile.change_password.ChangePasswordActivity"
            android:exported="false"
            android:label="@string/title_activity_change_password"
            android:theme="@style/Theme.MSMA" />
        <activity
            android:name=".ui.screen.settings.history_listen.ViewHistoryListenActivity"
            android:exported="false"
            android:label="@string/title_activity_view_history_listen"
            android:theme="@style/Theme.MSMA" />
        <activity
            android:name=".ui.screen.songs.SongDetailsActivity"
            android:exported="false"
            android:label="@string/title_activity_song_details"
            android:theme="@style/Theme.MSMA" />

        <service
            android:name=".service.MusicService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback"
            tools:ignore="ForegroundServicePermission" />

        <receiver
            android:name=".service.MusicActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="vn.edu.usth.msma.ACTION_PLAY" />
                <action android:name="vn.edu.usth.msma.ACTION_PAUSE" />
                <action android:name="vn.edu.usth.msma.ACTION_PREVIOUS" />
                <action android:name="vn.edu.usth.msma.ACTION_NEXT" />
                <action android:name="vn.edu.usth.msma.ACTION_CLOSE" />
                <action android:name="vn.edu.usth.msma.ACTION_MINIMIZE" />
                <action android:name="vn.edu.usth.msma.ACTION_EXPAND" />
            </intent-filter>
        </receiver>
    </application>

</manifest>